<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yuyufeng.sample.admin.dao.PermissionInfoMapper">
    <resultMap id="BaseResultMap" type="top.yuyufeng.sample.admin.orm.po.PermissionInfo">
        <!--
          WARNING - @mbg.generated
        -->

        <id column="permission_id" jdbcType="BIGINT" property="permissionId"/>
        <id column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="permission_name" jdbcType="VARCHAR" property="permissionName"/>
        <result column="permission_notes" jdbcType="VARCHAR" property="permissionNotes"/>
        <result column="checked" jdbcType="BIT" property="checked"/>

    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        permission_id, permission_name
    </sql>

    <insert id="insertAndBackGeneratedKey" useGeneratedKeys="true" keyProperty="permissionId"
            parameterType="top.yuyufeng.sample.admin.orm.po.PermissionInfo">
        INSERT INTO permission_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="permissionName != null">
                permission_name,
            </if>
            <if test="permissionNotes != null">
                permission_notes,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="permissionName != null">
                #{permissionName,jdbcType=VARCHAR},
            </if>
            <if test="permissionNotes != null">
                #{permissionNotes,jdbcType=VARCHAR},
            </if>
        </trim>


    </insert>

    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM permission_info WHERE permission_id in
        <foreach collection="PermissionInfoList" separator="," item="PermissionInfo" open="(" close=")">
            #{PermissionInfo.permissionId,jdbcType=BIGINT}
        </foreach>
    </delete>

    <select id="selectAllWithStatus" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
            pi.permission_id,
            pi.permission_name,
            pi.permission_notes,
            pi.parent_id
        <if test="roleId != null">
            ,
            IF (rpi.role_id IS NULL, FALSE, TRUE) AS checked
        </if>
        FROM
            permission_info pi
        <if test="roleId != null">
            LEFT JOIN (SELECT role_id,permission_id FROM role_permission_info WHERE role_id = #{roleId,jdbcType=BIGINT}) rpi ON pi.permission_id = rpi.permission_id
        </if>
    </select>
</mapper>