<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yuyufeng.learn.shiro.dao.PermissionInfoMapper">
  <resultMap id="BaseResultMap" type="top.yuyufeng.learn.shiro.orm.po.PermissionInfo">
    <!--
      WARNING - @mbg.generated
    -->

    <id column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <id column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="permission_notes" jdbcType="VARCHAR" property="permissionNotes" />

  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    permission_id, permission_name
  </sql>
</mapper>