<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yuyufeng.sample.admin.dao.RoleInfoMapper">
    <resultMap id="BaseResultMap" type="top.yuyufeng.sample.admin.orm.po.RoleInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="role_id" jdbcType="BIGINT" property="roleId" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="role_notes" jdbcType="VARCHAR" property="roleNotes" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        role_id, role_name
    </sql>

    <select id="listByUserId" resultType="top.yuyufeng.sample.admin.orm.po.RoleInfo">
SELECT
    r.role_id,
    role_name,
    role_notes,
    IF (u.user_id IS NULL, 0, 1) AS role_status
FROM
    role_info r
LEFT JOIN (
    SELECT
        id,user_id,role_id
    FROM
        user_role_info
    WHERE
        user_id = #{userId,jdbcType=BIGINT}
    ) u ON r.role_id = u.role_id
  </select>

</mapper>